@{
}

<div class="row">
    <div class="col-md-6">
        <h2 class="my-4">Raporlar</h2>
    </div>
    <div class="col-md-6 text-right d-flex justify-content-end align-items-center">
    </div>
</div>
